* {
  margin: 0;
  padding: 0;
 
  color: black;
}

.revolver {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: revolve 1s infinite;
  animation-delay: 0.25s;
  animation-timing-function: cubic-bezier(0.42, 0.13, 0.745, 1.75);
  height: 30px;
  width: 30px;
}
.revolver:after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  border-radius: 50%;
  border: 8px solid black;
  box-sizing: border-box;
}
.revolver .bullet {
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  border: 6px solid black;
  box-sizing: border-box;
  position: absolute;
}
.revolver .bullet:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 20px;
  height: 7px;
  background: black;
}
.revolver .bullet:nth-child(1) {
  transform: rotate(60deg) translateY(-25px);
}
.revolver .bullet:nth-child(2) {
  transform: rotate(120deg) translateY(-25px);
}
.revolver .bullet:nth-child(3) {
  transform: rotate(180deg) translateY(-25px);
}
.revolver .bullet:nth-child(4) {
  transform: rotate(240deg) translateY(-25px);
}
.revolver .bullet:nth-child(5) {
  transform: rotate(300deg) translateY(-25px);
}
.revolver .bullet:nth-child(6) {
  transform: rotate(360deg) translateY(-25px);
}

@keyframes revolve {
  30% {
    transform: rotate(-65deg);
  }
  40% {
    transform: rotate(-50deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}